.DS_Store
/node_modules/
node_modules/

# React Router
/.react-router/
/build/
/.env
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local
/public/static/
/coverage/
/dist/
/yarn-error.log
npm-debug.log*
/*.log
.idea/
/.vscode/
/*.sublime-workspace
*.sublime-project
*.tgz
*.zip
*.tar
*.gz
*.rar
*.7z
*.lock
*.cache
/.parcel-cache/
/.eslintcache
/.pnp
.pnp.js